<section class="bg-white dark:bg-black h-screen overflow-auto lg:py-16 lg:px-6">
    @if(auth.isAuthenticated)
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center">
            <h1 class="mb-2 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Wanderlust</h1>
            <h2 class="font-light text-gray-500 sm:text-2xl dark:text-gray-400"> Posts Favoritos </h2>
        </div> 
    @end 
</section>